<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="random">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <!-- Compose-stack defaults (docker-compose.yml shifts host ports off the local
         defaults); the env vars override for other environments. -->
    <php>
        <env name="MYSQL_PORT" value="3307"/>
        <env name="MYSQL_DB" value="phpdot_test"/>
        <env name="MYSQL_USER" value="root"/>
        <env name="MYSQL_PASS" value="root"/>
        <env name="PG_PORT" value="5432"/>
        <env name="PG_DB" value="phpdot_test"/>
        <env name="PG_USER" value="postgres"/>
        <env name="PG_PASS" value="postgres"/>
    </php>
</phpunit>
